.container-users {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    width: 90%;
    height: auto;
    margin: 0 auto;
    align-items: center;
    justify-content: center;    
    text-align: center;
}

.container-users > .users { 
    display: column;
    padding: 10px;
    margin: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: aquamarine;
    border: 1px solid black;

}

.container-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}
.container-form > .title-form {
    font-size: 1em;
    text-align: center;
}